body {
  margin: 0;
  padding: 0;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.buttons {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 50px;
  text-align: center;
  border-bottom: 5px solid black;
}

.content-body {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
}

.content-body .content {
  flex: 1 1 auto;
  overflow: auto;
}

.content-body .sidenav {
  order: -1;
  flex: 0 0 150px;
  overflow: auto;
  border-right: 2px solid black;
}

.content-body .ads {
  flex: 0 0 150px;
  overflow: auto;
  border-left: 2px solid black;
}

.footer {
  flex: 0 0 100px;
  border-top: 5px solid black;
  padding-left: 25px;
  padding-top: 10px;
}

h1 {
  text-align: center;
}
