@font-face {
  font-family: myFirstFont;
  src:url(GemunuLibre-VariableFont_wght.ttf);
}

h1 {
  font-family: myFirstFont;
  border-bottom: solid;
  border-width: thick;
}

h2 {
  font-family: myFirstFont;
  border-bottom: dashed;
  border-width: thin;
}

h3 {
  font-family: myFirstFont;
}

ul {
  font-family: myFirstFont;
}

p {
  font-family: myFirstFont;
}

body {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  background-color: lightgray;
}
